body {
  min-height: 100vh;
  .integrantes {
    min-height: 84.5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: $background-color_1;
    p {
      color: $color_1;
      font-family: $font-family_1;
    }
  }
}
