
.conciertos {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	background-color: $background-color_1;
	flex-wrap: wrap;
	min-height: 43vw;
	div {
		margin: 30px;
	}
}