
/* Main index*/

.section {
    width: 1200px;
  }
  
  .inicio {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.925);
    height: 85vh;
  
    .texto-inicio {
      h1 {
        color: #ff0000;
        display: flex;
        justify-content: center;
        font-family: 'Rock Salt', cursive;
        margin: 20px;
      }
      margin: 20px;
      color: whitesmoke;
      font-size: 15px;
      font-family: 'Rock Salt', cursive;
    }
  
    .imagen-inicio {
      width: 3600px;
      margin-right: 50px;
  
      img {
        width: 100%;
      }
    }
  }