/* scss/components/_header.scss */

@use "../utils/variables" as *;

header {
  background-color: $color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: relative;
  min-height: 80px;

  /* Ocultamos el checkbox y label de menú móvil en escritorio */
  #btn_menu,
  label[for="btn_menu"] {
    display: none;
  }

  /* LOGO CENTRAL */
  .logo-central {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border: 2px solid $color-primary;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateX(-50%) scale(1.05);
    }

    .logo {
      display: block;
      width: 50px;
      height: auto;
      box-shadow: none;
    }
  }

  /* MENÚ DE NAVEGACIÓN */
  .menu {
    width: 100%;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li a {
        font-family: $font-title;
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 0px;
        letter-spacing: 1px;
        position: relative;
        transition: color 0.2s ease-in-out;

        &.active {
          color: $color-primary;

          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 2px;
          width: 0%;
          height: 2px;
          background-color: $color-primary;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: $color-primary;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
