/*header*/
header {
  background-color: rgba(0, 0, 0, 0.952);

  .logo {
    display: none;
  }

  nav ul {
    li {
      img {
        width: 100px;
        animation-name: logo;
        animation-duration: 2s;
      }

      a {
        text-decoration: none;
        color: #ff0000;
        font-size: 25px;
        font-family: $font-family_1;
        font-weight: bold;
      }
    }

    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  #btn_menu {
    display: none;
  }

  label {
    display: none;

    :hover {
      cursor: pointer;
    }
  }
}

@keyframes logo {
  0% {
    transform: rotate(360deg);
  }
}
